In order to acquire this particular Crunchbase database, I had to locate their documentation, which contained all of the information required to perform an API request. An API is another type of user interface. The key difference is that instead of the user being a human-

In [2]:
import pandas as pd
import json

![requ](api0.png)


![api](api1.png)


![api](api2.png)

In [4]:
#Read our JSON file as an easier to digest pandas dataframe
data = pd.read_json('response_1679131169502.json')
data

,uuid,entity_def_id,deleted_at
0,66f483b2-f3e8-4c7d-94d8-34dbf63f93f9,organization,2017-12-22 01:01:38+00:00
1,bc3b48c3-9299-4635-a690-9e9bf9d8451b,job,2017-12-22 02:01:50+00:00
2,52f8d052-c304-7b42-ce9d-8888ae831019,job,2017-12-22 02:40:18+00:00
3,638dbfaf-a834-c9e5-314d-3e0e5298b29a,job,2017-12-22 03:22:49+00:00
4,7601843e-6b25-e858-ba0b-3449a5e969a8,job,2017-12-22 03:26:07+00:00
...,...,...,...
995,27d8134f-4ee3-b3ad-ee3b-f485a79bf6fd,person,2018-01-01 10:44:34+00:00
996,5e1aaaa1-dc01-7115-2941-26f5acba9e83,job,2018-01-01 10:44:34+00:00
997,18c966ca-9084-9a39-dacd-1970d20bc4f7,job,2018-01-01 10:46:32+00:00
998,dbe567ff-ac64-de32-0997-141445283873,job,2018-01-01 10:52:25+00:00
999,ff074376-6c7e-6890-69fa-44e96525a7a7,job,2018-01-01 10:54:54+00:00

In [5]:
data.to_csv('response.csv')
#code for converting json object into csv file, which is more appropriate for this particular dataset